.DataPicture {
    display: flex;
    justify-content: space-between;
}
img{
    width: 100%;
}
.calendare{
    width: 100%;
}
.calendarBlock {
    width: 38%;
    height: 55%;
}
h2{
    text-align: center;
}
.imgBlock{
    width: 60%;
}